<nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container-md">
        <a href="" class="navbar-brand text-dark"> <span>spending</span></a>
        <button
        class="navbar-toggler  text-dark"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarToggler"
        aria-controls="navbarToggler"
        >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse-navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item me-lg-2">
                <a routerLink="/inicio" routerLinkActive="active" class=" text-dark nav-link">inicio</a>
            </li>
            <li class="nav-item">
                <a routerLink="/gastos" routerLinkActive="active" class=" text-dark nav-link">gastos</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
